*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: Yellow;
color: FFFF00;
}
body{
	background-color: #20B2AA;
	color: PaleTurquoise;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: #FFA07A;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}